<html>
    <head>
        <title>Aprendendo o NodeJS com o GoNode</title>
    </head>
    <body>
        <form action="/auth" method="POST">
            <input type="text" name="username" />
            <input tyoe="password" name = "password" />
            <button type="submit"> Logar</button>
        </form>
    </body>
</html>