<html>
    <head>
        <title>Desafio 1</title>
    </head>
    <body>
        <form action="/check" method="POST">
            <input type="text" name="name" />
            <input type="number" name = "age" />
            <button type="submit"> Check</button>
        </form>
    </body>
</html>
